---
layout: base.njk
---
<h1>about</h1>
<h3>Things i like</h3>
<ul>
    <li>software engineering</li>
    <li>node.js</li>
    <li>11ty</li>
    <li>okra</li>
</ul>
<h3>
    Contact
</h3>
<p>me [at] davidmiles [dot] blog</p>
<h3>Now</h3>
<p>I am in 9th grade, and I really like software engineering</p> 