---
layout: base.njk
---
<!DOCTYPE html>
<div class="h-feed hfeed">
<h1 class="p-name site-title">david's engineering journal</h1>
<p>my engineering portfolio/journal for my engineering class.</p>
<a href="/about">about me</a>
<h3>entries</h3>

<ul>
  {% for post in posts %}
   <li>
    <article class="h-entry hentry">
   <a href="/log/{{ post.slug }}" class="p-name entry-title">{{ post.title }}</a><br /><span class="p-summary entry-summary"><span id="blogdate">written on</span> <time class="dt-published published">{{
   post.date | regularDate }}</time> &bull; {{ post.readTime }}</span>
   </article>
 </li>
 {% endfor %}
</ul>
</div>
<small>by the way, there's an <a href="/feed.xml">RSS/Atom feed</a> if you want</small>

