---
layout: base.njk
pagination:
  data: posts
  size: 1
  alias: post
permalink: log/{{ post.slug }}/
---
<style>
  body {
  padding-right: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  padding-top: 0;
}

  </style>
<article class="h-entry">
<h1 class="p-name">{{ post.title }}</h1>
<small>published by: <span class="p-author h-card">david</span></small><br>
<small>written on {{ post.date | regularDate }} &bull; {{ post.readTime }}</small>
<div class="e-content">
{{ post.html | safe }}
</div>
<br>
<h4 id="people"></h4>
 
  <script src="/webmentions.js" inline></script>
<div id="avatar"></div><br>
<small id="tweet">Loading...</small><br>
<small>
  you can see the main site <a href="/" onclick="wentBackHome()">here</a>.
</small>
</article>