<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% set css %}
    {% include "holiday.css" %}
    {% include "extras.css" %}
    {% endset %}

     <link href="https://github.com/davidemiles" rel="me">
     <link href="https://twitter.com/davidmiles402" rel="me">
 <link href="mailto:me@davidmiles.blog" rel="me">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="webmention" href="https://webmention.io/journal.davidmiles.blog/webmention" />
<link rel="pingback" href="https://webmention.io/journal.davidmiles.blog/xmlrpc" />
    <meta
      name="title"
      content="{% if post.title %}{{ post.title }} - {% endif %}david's engineering journal"
    />
    <meta
      name="description"
      content="{% if post.description %}{{ post.description }}{% else %}My digital journal for my engineering class{% endif %}"
    />

    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://journal.davidmiles.blog/{% if post.slug %}{{ post.slug }}{% endif %}"
    />
    <meta
      property="og:title"
      content="{% if post.title %}{{ post.title }} - {% endif %}david's engineering journal"
    />
    <meta
      property="og:description"
      content="{% if post.description %}{{ post.description }}{% else %}My digital journal for my engineering class{% endif %}"
    />
    <meta property="og:image" content="" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://journal.davidmiles.blog/{% if post.slug %}{{ post.slug }}{% endif %}"
    />
    <meta
      property="twitter:title"
      content="{% if post.title %}{{ post.title }} - {% endif %}david's engineering journal"
    />
    <meta
      property="twitter:description"
      content="{% if post.description %}{{ post.description }}{% else %}My digital journal for my engineering class{% endif %}"
    />
    <meta property="twitter:image" content="" />
    <title>journal.davidmiles.blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" inline />
<style>
  {{ css | cssmin | safe }}
</style>
      </head>
  <body>
    {{ content | safe }}
  </body>
  <footer>
<p>&copy; David Miles, 2022. All rights reserved</p>

</footer>
</html>
